#loggedInProfile {
  display: none;
  width: 15%;
  position: fixed;
  left: 62.5%;
  padding-bottom: 1em;
  background-color: white;
  box-shadow: 0px 0px 5px rgb(101, 70, 70);
  border-radius: 10px;
}

.postUsernameInfo {
  font-size: 1.3em;
  margin-left: 0.5em;
  cursor: pointer;
}

.postUsernameInfo:hover {
  color: green;
}

#partaking {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 1em;
}

#partaking label {
  margin-bottom: 0.5em;
}

#partaking #userLikes {
  color: red;
}

#partaking #userComments {
  color: green;
}

#partaking #userBookmarks {
  color: blue;
}

#logOutContent {
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: rgba(117, 115, 115, 0.361);
  font-size: 1.25em;
  margin: 1em auto;
  padding: 0.2em 0.75em;
  box-shadow: 0px 0px 5px black;
  transition: 0.3s ease;
}

#logOutContent:hover {
  transform: scale(1.1);
}
